body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
section {
  border: 7px solid grey;
}
.bangladesh-details {
  display: flex;
}
.half {
  width: 50%;
  padding: 20px;
  margin: 10px;
}
.half img {
  width: 70%;
  padding-left: 140px;
}

.button {
  text-decoration: none;
  padding: 15px 40px;
  background-image: linear-gradient(green, red, green);
  color: white;
  font-weight: 700;
  display: inline-block;
  margin: 30px;
  border-radius: 5px;
}
.button:hover {
  background-image: linear-gradient(orange, black, blue);
}

h1 {
  font-size: 40px;
  text-align: center;
}
.font-style {
  font-size: 20px;
  word-spacing: 4px;
  line-height: 35px;
  text-align: justify;
}
.division-divided {
  width: 30%;
  border: 10px;
  margin: 20px;
  text-align: justify;
  padding: 20px;
  box-shadow: 10px 20px 40px grey;
}

.modify-style {
  text-align: center;
}
h2 {
  padding: 5px;
  text-align: center;
}
.sec-2nd {
  margin-top: 100px;
}
.img-sec img {
  width: 100%;
}
